<form name="Form1">
  <script cam-script type="text/form-script">

function guid() {
  function s4() {
    return Math.floor((1 + Math.random()) * 0x10000)
      .toString(16)
      .substring(1);
  }
  return s4() + s4() + '-' + s4() + '-' + s4() + '-' +
    s4() + '-' + s4() + s4() + s4();
}

    camForm.on('submit', function() {
      camForm.businessKey = guid();
    });

  </script>
  <div class="form-group">
    <label for="nrAlbumu">Wiek</label>
    <input class="form-control"
           cam-variable-type="Integer"
           cam-variable-name="form1_age"
           name="Wiek" />
  </div>
  <div class="form-group">
    <label for="punktyECTS">Zawod</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="form1_job"
           name="Zawod" />
  </div>
</form>

