<form name="PodajTermin">
	<div class="form-group">
    <label for="nrAlbumu">Powod Bledu</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="error_register"
           name="error_register"
           disable="true" 
           readonly />
  </div>
  <div class="form-group">
    <label for="nrAlbumu">Data</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="data"
           name="data" />
  </div>
  <div class="form-group">
    <label for="punktyECTS">Pesel</label>
    <input class="form-control"
           cam-variable-type="Long"
           cam-variable-name="pesel"
           name="pesel" />
  </div>
</form>

