<form name="WynikZly">
	<div class="form-group">
    <label for="why_not">Powod odrzucenia</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="why_not"
           name="why_not" 
           readonly/>
  </div>

</form>
