<form name="Wynik">
	<div class="form-group">
    <label for="Wiek">Wiek</label>
    <input class="form-control"
           cam-variable-type="Integer"
           cam-variable-name="form1_age"
           name="Wiek" />
  </div>
  <div class="form-group">
    <label for="Zawod">Zawod</label>
    <input class="form-control"
           cam-variable-type="String"
           cam-variable-name="form1_job"
           name="Zawod" />
  </div>
	<div class="form-group">
		<label for="potwierdzenie">Potwierdzenie</label>
		<input
			class="form-control" 
			cam-variable-type="Boolean"
			cam-variable-name="potwierdzenie" 
			name="potwierdzenie"
			 />
	</div>	
	<div class="form-group">
		<label for="potwierdzenie">Termin</label>
		<input
			class="form-control" 
			cam-variable-type="String"
			cam-variable-name="data" 
			name="data"
			 />
	</div>	
	<div class="form-group">
		<label for="potwierdzenie">PESEL</label>
		<input
			class="form-control" 
			cam-variable-type="Integer"
			cam-variable-name="pesel" 
			name="pesel"
			 />
	</div>	
</form>
